:root {
    --shadow-md: 0 0 15px #0000001a;
    --white-color: #fff;

    --text-black: #000;
    --inputfont-color: #898989;
    --radio-label-color: #828282;
    --primary-color: #F39200;
    --dropDown-font-color: #A5A5A5;
    --footer-background: #000;
    --border-color: #e2dfdf;
    --light-black: #555555;
    --light-black3: #b8b8b8;
    --light-black2: #a3a39e;
    --tooltip-color: #e0e0e0;
    --tooltip-font-color: #000;
    --label-color: #252525;
    --place-holder-color: #d3d3d3;
    --notes-color: #bcbcbc;
    --thankyou-text-color: #676767;
}